*{
    margin: 0;
    padding: 0;;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-prox-gp{
    background-color: rgb(214, 21, 21);
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.nav-prox-gp a{
    text-decoration: none;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}

.nav-prox-gp a:hover{
    background-color: black;
    transition: 0.5s;
    padding: 8px;
    border-radius: 1rem;
}

h1{
    text-align: center;
    background-image: url(/img/bandera.jpg);
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}
.map{
    display: flex;
    justify-content: center;
    padding: 4rem;
}

body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(193,9,9,1) 100%, rgba(0,212,255,1) 100%);
}